<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNgSuite">
	<test name="PNTest">
		<classes>
			<class name="com.test.PrimeNumberTest"></class>
		</classes>
	</test>
	<test name="LETest">
		<classes>
			<class name="com.test.LargestElementTest"></class>
		</classes>
	</test>
	<test name="FactTest">
		<groups>
			<define name="all">
				<include name="checkTest"></include>
				<include name="funcTest"></include>
			</define>
			<run>
				<include name="all"></include>
			</run>
		</groups>
		<classes>
			<class name="com.test.FactorialTest"></class>
		</classes>
	</test>

	<test name="PTest">
		<parameter name="input" value="madam"></parameter>
		<classes>
			<class name="com.test.PalindromeTest"></class>
		</classes>
	</test>

	<test name="ATest">
		<classes>
			<class name="com.test.ArmStrongTest"></class>
		</classes>
	</test>
</suite>







